@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row header" id="header">
    </div>

    <div class="row">
        <div class="col-md-9 body" id="body">
        </div>
        <div class="col-md-3 sidebar" id="sidebar">
        </div>
    </div>

    <div class="row footer" id="footer">

    </div>
    <br />
    @*<form asp-controller="Home" asp-action="Result" method="post">*@
        <div class="justify-content-center col-12 text-center m-0 p-0">
            <button type="submit" class="btn btn-dark text-center" onclick="generate()">Generate</button>
        </div>
    @*</form>*@
    @*TODO:
        In site.js, all prompt inputs should be passed to controller function Result() as parameters when user clicks on "Generate" button.
        The controller function will use these prompts to generate source code then pass it to view.
    *@
</div>