@{
	@model Dictionary<string, string>;
}
@{
	foreach (KeyValuePair<string,string> keyValuePair in Model) // Model is a dictionary received from the controller
	{
		<p>Area: @keyValuePair.Key</p>
		<p>Prompt: @keyValuePair.Value</p>
	}
}