@model Dictionary<string, string>

@{
    ViewData["Title"] = "Result";
}

<h2>Area Prompts</h2>

@foreach (KeyValuePair<string, string> keyValuePair in Model)
{
    <p>Area: @keyValuePair.Key</p>
    <p>Prompt: @keyValuePair.Value</p>
}


<hr />
<p>Test</p>
<p>main Promtp: @ViewBag.mainPrompt</p>
<form asp-action="GenerateAIContent" method="post">
    <input type="hidden" name="mainPrompt" value="@ViewBag.mainPrompt" />
    <input type="submit" value="Generate AI Content" />
</form>
